* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h1 {
  font-size: 40px;
  font-variant: small-caps;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 8pt;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.navbar-nav {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  display: inline;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link {
  text-decoration: none;
  border-radius: 0px;
  letter-spacing: 3px;
  font-variant: small-caps;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-link:hover {
  color: #ffffff;
}

a {
  color: black;
  font-size: 15px;
}

.active {
  color: white;
}

.navbar-toggler-icon {
  color: black;
}

.home-navbar, .home-page-footer {
  background-color: #dfd3c3;
}

.edu-navbar, .edu-page-footer {
  background-color: #c2e8ce;
}

.skills-navbar, .skills-page-footer {
  background-color: #bbe1fa;
}

.portfolio-navbar, .portfolio-page-footer {
  background-color: #d2b69a;
}

.project-navbar, .project-page-footer {
  background-color: #f0f0f0;
}

.page-body {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #f7f4e3;
  padding-bottom: 50px;
}

#megan-headshot {
  width: 20%;
  min-width: 100px;
}

.fun-facts {
  margin-right: auto;
  margin-left: auto;
}
ol {
  text-align: left;
  list-style-position: outside;
  font-size: 18px;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li p {
  display: inline;
  padding-left: 4px;
}

.page-footer {
  text-align: center;
}

address a:hover {
  color: white;
  text-decoration: none;
}

.social-media-button {
  width: 50px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.school-img {
  padding: 4px;
}

.table {
  text-align: left;
}

.school-info {
  background-color: rgba(255, 255, 255, 0.5);
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  vertical-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.skills h2 {
  font-size: 36px;
  font-variant: small-caps;
}

.a-skill {
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
  margin-top: 0px;
}

.a-skill h4 {
  font-size: 24px;
  font-variant: small-caps;
}

#code-image {
  width: 100%;
}

.skill-level {
  margin-top: 10px;
  margin-bottom: 4px;
  font-variant: small-caps;
  font-size: 18px;
}

.skill-description {
  font-size: small;
}

.code-background {
  background-repeat: repeat-y;
  background-image: url("./images/codeImg.png");
  background-size: initial;
}

.interests {
  background-color: rgba(255, 255, 255, 0.5);
}

.basic-info div p {
  text-align: justify;
  text-align-last: left;
}

/* .highlighted-words {
  font-size: 20px;
  font-weight: bold;
  color: #5f2f14;
  letter-spacing: 1.5px;
  padding-left: 3px;
  padding-right: 3px;
} */

.interests-list {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  font-size: 20px;
}

figcaption {
  font-size: 15px;
  padding-top: 8px;
  text-align: left;
}

.edu-page-body {
  background-color: #effcef;
}

.skills-page-body {
  background-color: #e1f2fb;
}

.project-link {
  color: black;
  text-decoration: underline;
  background-color: #d7fffd;
}

.project-link-large {
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: underline;
  cursor: pointer;
}

.project-link-large:hover {
color: white
}

.project p {
  font-size: 15px;
  margin-top: 20px;
}

.portfolio-page-body {
  background-color: #fcf9ea;
}

.portfolio-section {
  margin-bottom: 80px;
  margin-top: 20px;
}

.portfolio-section-2, .portfolio-section-4 {
  background-color: #f7ebc9;
}

.portfolio-section-3 {
  background-color: #fff4e3;
}

.portfolio-name {
  text-align: center;
}

.portfolio-description {
  font-size: 15px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-section img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-page-body {
  background-color: #d6e5fa;
}
