* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
}

h1 {
	font-size: 30px;
	font-variant: small-caps;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.navbar-nav {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	overflow: hidden;
}

.nav-item {
	float: left;
	display: inline;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-link {
	margin: 0;
	padding-left: 12px;
	padding-right: 12px
	text-decoration: none;
	border-radius: 0px;
	letter-spacing: 1px;
	text-align: center;
}

.nav-link:hover {
	color: #ffffff;
}

a {
	color: black;
	font-size: 15px;
}

.active {
	color: white;
}

.navbar-toggler-icon {
	color: black;
}

.navbar-light {
	background-color: #dfd3c3;
}

.page-body {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #f7f4e3;
	padding-bottom: 50px;
}

#megan-headshot {
	width: 20%;
	min-width: 100px;
}

.fun-facts {
	margin-right: auto;
	margin-left: auto;
}
ol {
  text-align: left;
  list-style-position: outside;
  font-size: 18px;
}

li {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

li p {
	display: inline;
	padding-left: 4px;
}

.page-footer {
	text-align: center;
	background-color: #dfd3c3;
}

address a:hover {
	color: white;
	text-decoration: none;
}

.social-media-button {
	width: 50px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}


